.page-question {
  .content {
    img {
      display: block;
      width: 100%;
    }
    div {
      display: inline-block;
    }
  }
  table {
    th {
      font-size: 20px;
    }
    td {
      font-size: 20px;
    }
  }
}
