.tab-view-fund {
  .top-warn {
    padding: 15px 20px;
    font-size: 24px;
    background-color: #fdf6ec;
    color: #e6a23c;
  }
  .info-warn{
    margin-bottom: 30px;
    padding: 15px 20px;
    font-size: 24px;
    background-color: #f4f4f5;
    color: #909399;
  }
}
