.tab-view-fund {
  .top-warn {
    padding: 15px 20px;
    font-size: 24px;
    background-color: #fdf6ec;
    color: #e6a23c;
  }
  .info-warn{
    margin-bottom: 30px;
    padding: 15px 20px;
    font-size: 24px;
    background-color: #f4f4f5;
    color: #909399;
  }
  .teach-warn {
    position: relative;
    padding: 15px 20px;
    font-size: 24px;
    background-color: rgb(253, 226, 226);
    color: #F56C6C;
  }
  .teach-btn {
    position: absolute;
    padding: 5px 30px;
    border-radius: 8px;
    top: 10px;
    right: 20px;
    background-color: #F56C6C;
    color: #fff;
    text-align: center;
  }
}
