.van-nav-bar .van-icon {
  color: #000;
}
.van-button--normal {
  font-size: 18px;
  .van-loading__spinner {
    width: 20px!important;
    height: 20px!important;
  }
}
.van-form {
  .van-cell {
    border-bottom: 1px solid #E9E9E9;
  }
}
.van-button--plain.van-button--primary {
  border-radius: 4px;
}
