.van-nav-bar .van-icon {
  color: #000;
}
.van-button--normal {
  font-size: 18px;
  .van-loading__spinner {
    width: 20px!important;
    height: 20px!important;
  }
}
.van-form {
  .van-cell {
    border-bottom: 1px solid #E9E9E9;
  }
}
.van-button--plain.van-button--primary {
  border-radius: 4px;
}

.van-dialog__confirm, .van-dialog__cancel {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 48px;
  margin: 0;
  border: 0;
}

.van-dialog__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.van-list__loading {
  .van-loading__spinner {
    width: 16px!important;
    height: 16px!important;
  }
}

.van-collapse-item--border::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: 0;
  right: 16px;
  left: 16px;
  border-top: 1px solid #ebedf0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.op-nav-bar {
  background-color: transparent;
  &::after {
    display: none;
  }
  .van-nav-bar__title {
    color: #fff;
  }
  .van-icon {
    color: #fff;
  }
}

.van-notify--primary {
  color: #fff;
}
.van-notify--warning {
  color: #fff;
}
.van-notify--danger {
  color: #fff;
}

.van-nav-bar__right {
  .van-icon {
    font-size: 20px;
  }
}
